.page-wrapper {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image:linear-gradient(to right, black, blue, purple);
  }
  
  .logo {
    font-size: 24px;
    color: white;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f6f7fb;
  }

  .hero-section h2 {
    box-sizing: border-box;
    color:black;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 35px;
    font-weight: 800;
    text-align: left;
    
    letter-spacing: 0.1px;
    max-width: 800px; /* Maximum width for larger screens */
    margin: 0 auto;   /* Center the text box on larger screens */
  }
  
  .hero-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
  }
  
  .hero-heading {
    font-size: 48px;
    color: #333;
    margin: 40px 0;
  }
  
  .sub-heading {
    font-size: 24px;
    color: #666;
  }
  
  .call-to-action {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
  }
  
  .call-to-action h2 {
    font-size: 36px;
    color: #4b3ce2;
  }
  
  .call-to-action p {
    font-size: 18px;
    color: #333;
  }